* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.top-txt{
  background-color: black;
  color: white;
}

.top-txt .p2{
  display: none;
}

.top-txt .sing_in_up .countdown-timer{
  display: none;
}

.top-txt .head{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
}

.top-txt .head a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.945);
  margin: 0 10px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}



.navbar .navbar-container{
  display: flex;
  justify-content: center;
  gap: 400px;
  align-items: center;
  right: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
}

.navbar .navbar-container .logo h1{
  cursor: pointer;
  margin: 30px 0;
  font-family: sans-serif;
}

.navbar-container .logo{
  position: relative;
  right: 175px;
}

/* .navbar .navbar-container .logo img{
  width: 100px;
  cursor: pointer;
  margin: 7px 0;
} */

.navbar-container ul{
  list-style: none;
}

.navbar-container ul .user, .navbar-container ul #FaXmark{
  display: none;
}

.navbar-container ul hr{
  display: none;
}

.navbar-container ul li{
  display: inline-block;
  margin: 0 15px;
}

.navbar-container ul li a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 17px;
  transition: 0.1s;
}

.navbar-container ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #fac031;
  display: block;
  transition: 0.2s linear;
}

.navbar-container ul li a:hover::after{
  width: 100%;
}

.navbar-container .icon #FaMagnifyingGlass, #FaUser, #FaShoppingCart{
  font-size: 18px;
  color: #000;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-container .icon #FaMagnifyingGlass:hover, #FaUser:hover, #FaShoppingCart:hover{
  color: #fac031;
}

.navbar-container .hamburger{
  display: none;
}

.navbar .navbar-container .search-box{
  position: absolute;
  top: -90px;
  width: 100%;
  border: 1.25px solid black;
}

.navbar .navbar-container .search-box.active{
  top: 130px;
}

.navbar .navbar-container .search-box input{
  width: 100%;
  height: 7vh;
  font-size: 20px;
  padding-left: 120px;
  font-weight: 600;
  color: black;
}

.navbar .navbar-container .search-box #FaMagnifyingGlass{
  position: absolute;
  z-index: 1000;
  color: black;
  font-size: 20px;
  margin: 13px 60px;
}

.navbar .navbar-container .search-box #FaXmark{
  position: fixed;
  right: 0;
  margin: 15px 60px;
  z-index: 100;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

@media (max-width: 768px){
  .top-txt{
      background-color: black;
      color: white;
  }
  
  .top-txt .head{
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      font-size: 12px;
  }

  .top-txt .head-txt p{
      display: none;
  }

  .top-txt .sing_in_up a{
      display: none;
  }

  .top-txt .head-txt .p2{
      display: block;
  }

  .top-txt .sing_in_up .countdown-timer{
      display: block;
  }

  .navbar .navbar-container{
      display: flex;
      justify-content: space-around;
      gap: 0;
  }

  .navbar-container .logo{
      position: relative;
      left: 10px;
  }

  .navbar .navbar-container .logo h1{
      margin: 15px 0;
      font-size: 20px;
  }

  .navbar-container ul{
      width: 80%;    
      height: 95vh;
      position: absolute;
      top: 0px;
      right: 890px;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid black;
      z-index: 1;
      transition: all 0.40s ease-in-out;
  }

  .navbar-container ul li{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }

  .navbar-container ul.active{
      position: absolute;
      right: 80px;
      top: 0;
  }

  .navbar-container .icon :nth-child(2){
      display: none;
  }

  .navbar-container .icon #FaMagnifyingGlass, #FaUser, #FaShoppingCart{
      font-size: 16px;
  }

  .navbar-container .hamburger{
      display: block;
  }

  .navbar-container ul .user{
      display: block;
      padding: 0 20px;
      font-size: 25px;
  }

  .navbar-container ul #FaXmark{
    display: block;
    margin: 10px 10px;
    font-size: 20px;
  }

  .navbar-container ul .user #FaUser{
      font-size: 18px;
      padding-top: 0px;
  }

  .navbar-container ul hr{
      display: block;
      margin-top: 410px;
  }

  .navbar-container ul .user span{
      font-size: 18px;
      padding-left: 10px;
  }

  .navbar .navbar-container .search-box.active{
      top: 95px;
      border: 1.25px solid black;
  }

  .navbar .navbar-container .search-box input{
      width: 100%;
      height: 7vh;
      font-size: 16px;
      padding-left: 50px;
      font-weight: 600;
  }

  .navbar .navbar-container .search-box #FaMagnifyingGlass{
      /* position: fixed;
      padding: 19px 14px;
      color: black; */

      position: fixed;
      left: 0;
      margin: 18px 14px;
      z-index: 100;
      font-size: 20px;
      cursor: pointer;
      color: black;
  }
  
  .navbar .navbar-container .search-box #FaXmark{
      position: fixed;
      right: 0;
      margin: 19px 14px;
      z-index: 100;
      font-size: 20px;
      cursor: pointer;
      color: black;
  }

  .navbar-container ul li a:hover::after{
      display: none;
  }

}








.hero-section{
  width: 100%;
  height: 100vh;
  display: flex;
}

.hero-section .first-section{
  width: 50%;
  height: 100vh;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 100px;

}

.first-section h1{
  font-size: 50px;
  margin-top: 200px;
}

.first-section h1 span{
  margin-left: 15px;
  color: #800020;
  font-family: mv boli;
  line-height: 22px;
  font-size: 60px;
}

.first-section p{
  margin: 20px 0;
}

.first-section button{
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}

.first-section button a{
  color: white;
}

.first-section button:hover{
  background: transparent;
  color: black;
  border: 2px solid black;
}

.first-section button:hover a{
  color: #000;
}

.hero-section .second-section{
  width: 50%;
  height: 100vh;
  background-color: orange;
}

.second-section img{
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px){

  .hero-section{
      width: 100%;
      height: 75vh;
      display: flex;
      flex-direction: column;
  }

  .hero-section .first-section{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
  }

  .first-section h1{
      font-size: 20px;
      margin-top: 40px;
  }
  
  .first-section h1 span{
      font-size: 20px;
  }
  
  .first-section p{
      margin: 20px 0;
  }
  
  .first-section button{
      padding: 5px 25px;
      font-size: 20px;
      border-radius: 10px;
      background-color: black;
      color: white;
      transition: all 0.2s ease-in-out;
      margin-bottom: 20px;
  }
  
  .first-section button:hover{
      background: transparent;
      color: black;
      border: 2px solid black;
  }

  .hero-section .second-section{
      width: 100%;
      height: auto;
  }

  .second-section img{
      width: 100%;
      height: auto;
  }

}











.seller{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.seller h1{
  font-size: 40px;
}

.seller .seller-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seller .seller-container .child{
  width: 300px;
  height: 400px;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.seller .seller-container .child img{
  width: 250px;
  height: auto;
  box-shadow: 0 0 10px rgb(200, 200, 200);
}

.seller .seller-container .child h2{
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
}

.seller .seller-container .child:hover{
  box-shadow: 0 0 10px rgb(123, 123, 123);
}

.seller .seller-container .child:hover img{
  box-shadow: none;
}

.child p{
  margin: 10px 0;
}

.child button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.child button:hover{
  background: transparent;
  color: black;
  border: 2px solid black;
}

.child h3{
  display: none;
}

@media (max-width: 768px){

  .seller{
      position: relative;
      top: -50px;
  }

  .seller h1{
      margin-bottom: -50px;
      font-weight: 500;
  }

  .seller .seller-container{
      margin-top: 50px;
  }

  .seller .seller-container .child{
      width: 155px;
      height: 200px;
  }

  .seller .seller-container .child:hover{
      box-shadow: none;
  }

  .seller .seller-container .child img{
      width: 155px;
      height: 200px;
      box-shadow: none;
  }

  .child h2{
      font-size: 20px;
      font-weight: 600;
  }

  .child p{
      display: none;
  }


  .child button{
      display: none;
  }

  .child h3{
      display: block;
      font-family: sans-serif;
      font-weight: 600;
  }
}



.contact {
  margin-top: 45px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.form .form-txt {
  flex-basis: 48%;
}

.form .form-txt h4 {
  font-weight: 600;
  color: #ff3c78;
  letter-spacing: 1.5px;
  font-size: 15px;
  margin-bottom: 15px;
}

.form .form-txt h1 {
  font-weight: 600;
  color: #000;
  font-size: 40px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: var(--light-black);
}

.form .form-txt span {
  color: rgba(0, 0, 0, 0.89);
  font-size: 14px;
}

.form .form-txt h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.89);
}

.form .form-txt p {
  color: rgba(0, 0, 0, 0.89);
  font-size: 14px;
}

.form .form-details {
  flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
  padding: 15px 20px;
  color: #aaa;
  outline: none;
  border: 1px solid #aaa;
  margin: 35px 15px;
  font-size: 14px;
}

.form .form-details textarea {
  padding: 15px 20px;
  margin: 0 15px;
  color: #aaa;
  outline: none;
  border: 1px solid #aaa;
  font-size: 14px;
  resize: none;
}

.form .form-details button {
  padding: 15px 25px;
  color: #fff;
  font-weight: 500;
  background: #000;
  outline: none;
  border: none;
  margin: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}



@media (max-width: 500px) {
  .form {
      display: flex;
      flex-direction: column;
  }
  .form .form-details button {
      margin-left: 0;
  }
  .form .form-details input[type="text"],
  .form .form-details input[type="email"],
  .form .form-details textarea {
      width: 100%;
      margin-left: 0;
  }
  .form .form-details input[type="text"] {
      margin-bottom: 0px;
  }
}

@media(min-width: 501px) and (max-width: 768px) {
  .form {
      display: flex;
      flex-direction: column;
  }
  .form .form-details button {
      margin-left: 0;
  }
  .form .form-details input[type="text"],
  .form .form-details input[type="email"],
  .form .form-details textarea {
      width: 100%;
      margin-left: 0;
  }
  .form .form-details input[type="text"] {
      margin-bottom: 0px;
  }
}



















footer {
  width: 100%;
  background: #000;
}

/* .footer-container .content_1 img {
  height: 25px;
  width: 180px;
} */

.footer-container .content_1 h1{
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.footer-container h4 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-size: 18px;
}

.footer-container a {
  display: block;
  text-decoration: none;
  color: #aaa;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
  color: #aaa;
  margin: 25px 0;
  font-size: 14px;
}

.footer-container .content_4 input[type="email"] {
  background-color: #000;
  border: none;
  color: #fff;
  outline: none;
  padding: 15px 0;
}

.footer-container .content_4 .f-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .content_4 .bx {
  color: #fff;
}

.f-design {
  width: 100%;
  color: #fff;
  text-align: center;
}

.f-design .f-design-txt {
  border-top: 1px solid #aaa;
  padding: 25px 0;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 500px){
  .footer-container {
      display: flex;
      flex-direction: column;
  }
  .footer-container .content_1 {
      margin-bottom: 30px;
  }
}

@media(min-width: 501px) and (max-width: 768px){
  .footer-container {
      display: flex;
      flex-direction: column;
  }
  .footer-container .content_1 {
      margin-bottom: 30px;
  }
}